/* =Media Queries - breakpoint targeting
-------------------------------------------------------------- */

$phone-portrait: 320px;
$phone-landscape: 480px;



/* Breakpoint description - above 1600px (presentation screens)
-------------------------------------------------------------- */
@media screen and (min-width: 1600px) {

}


/* Breakpoint description - above 768px (above mobile nav)
-------------------------------------------------------------- */
@media screen and (min-width: 768px) {
	.inner-wrap{
		width: 84%;
	}
	.main-navigation {
		padding-top: 40px;
	}
	p.home{
		padding: 0px 100px;
	}
	#top-wrapper{
		height: 534px; //fixed height for slider image height issue (will revert to height:auto below this brk pt.)
	}
	.pushin{
		padding: 0px 120px;
	}

}


/* Breakpoint description - below 993, above 769 (fix nav sizing issue on large tablets)
-------------------------------------------------------------- */
@media (max-width:993px) and (min-width:769px) {
	.main-navigation ul li{
		padding: 0 0 0 16px;
		a {
			font-size: 12px;
		}
	}
	.inner-wrap{
		width: 96%;
	}
	
}




/* Breakpoint description - below 768 (below mobile nav)
-------------------------------------------------------------- */
@media screen and (max-width: 768px) { 
	
	.flexslider .slides img {
		height: auto;
	}
	
	.header-post-title-container{
		background-repeat: no-repeat;
		background-position: top!important;
		background-size: contain;
	}
	#main.clearfix.forpage {
		padding: 0px 0;
		margin-top: -60px;
	}
	#jbweatherwidget-2{
		display: none; //hide weather widget 
	}
	#enhancedtextwidget-2{ //center license/contractor section
		display: block;
		position: relative;
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.form{
		width: 92%;
		padding: 15px 4%;
	}
	#feature-boxes .grid_3{
		width: 48%;
		margin: 1%;
	}
}



/* Breakpoint description - below 480 (landscape)
-------------------------------------------------------------- */
@media screen and (max-width: $phone-landscape) { 
	#main.clearfix.forpage {
		margin-top: -120px;
	}
	#final-call {
		h5, h5 b{
			font-size: 20px;
		}
	}
}

/* Breakpoint description - below 320 (portrait)
-------------------------------------------------------------- */
@media screen and (max-width: $phone-portrait) { 

}





/* Fixing the form text */
@media (max-width:1300px) and (min-width:1167px) {
	.form h4{
		font-size: 1.2em;
	}
	.form p, #realtor h4{
		font-size: 15px;
		line-height: 20px;
	}
}
@media (max-width:1166px) and (min-width:1068px) {
	.form h4{
		font-size: 1.1em;
	}
	.form p, #realtor h4{
		font-size: 14px;
		line-height: 18px
	}
}
@media (max-width:1067px) and (min-width:769px) {
	.form h4{
		font-size: 1.0em;
	}
	.form p, #realtor h4{
		font-size: 13px;
		line-height: 16px
	}
}