/* =Media Queries - breakpoint targeting
-------------------------------------------------------------- */

$phone-portrait: 320px;
$phone-landscape: 480px;



/* Breakpoint description - above 1600px (presentation screens)
-------------------------------------------------------------- */
@media screen and (min-width: 1600px) {

}


/* Breakpoint description - above 768px (above mobile nav)
-------------------------------------------------------------- */
@media screen and (min-width: 768px) {
	#header-logo-image{
		max-width: 96%;
	}
	.inner-wrap{
		max-width: 84%;
		width: 84%;
		zoom: .85;
		-ms-zoom: .85;
		-webkit-zoom: .85;
		transform-origin: 50% 0;
		-moz-transform: scale(0.85,.85);
		-moz-transform-origin: 50% 0;
		-ms-transform: scale(0.85,.85);
		-ms-transform-origin: 100% 0;
	}
	.ie .inner-wrap{ // fixes IE9 bug
		zoom:1!important;
		-ms-zoom:1!important;
		transform:none!important;
		transform-origin:50% 0;
		-ms-transform-origin:50% 0
	}
	@-moz-document url-prefix() { //fixes zoom fix issue
	    #main {
	    	margin-bottom: -150px; 
	    }
    }
	.main-navigation {
		padding-top: 30px;
	}
	.flexslider {
	    margin: 0 -1px 0 0;
	    padding: 0;
	}
	p.home{
		padding: 0px 100px;
	}
	#top-wrapper{
		height: 534px; //fixed height for slider image height issue (will revert to "height:auto;" below this brk pt.)
	}
	.pushin{
		padding: 0px 40px;
		margin-top: -10px;
	}
	.fa-stack{
		margin: 0 80px;
	}
	.form-name input, .form-number input, .form-mail input, .form-select select, .form-pref p, .form-comment textarea{
		margin-bottom: 15px;
	}
	input[type="text"], input[type="email"], input[type="password"], .form-number input, .form-select select{
		line-height: 26px;
		height: 26px;
	}
	textarea{
		height: 85px;
	}


}


/* Breakpoint description - below 993, above 769 (fix nav sizing issue on large tablets)
-------------------------------------------------------------- */
@media (max-width:1074px) and (min-width:769px) {
	.main-navigation ul li{
		padding: 0 0 0 16px;
		a {
			font-size: 12px;
		}
	}
	.inner-wrap{
		width: 96%;
	}
	
}





/* Breakpoint description - below 768 (below mobile nav)
-------------------------------------------------------------- */
@media screen and (max-width: 768px) { 
	
	.flexslider .slides img {
		height: auto;
	}
	
	.header-post-title-container{
		background-repeat: no-repeat;
		background-position: top!important;
		background-size: contain;
	}
	#main.clearfix.forpage {
		padding: 0px 0;
		margin-top: -60px;
	}
	#jbweatherwidget-2{
		display: none; //hide weather widget 
	}
	#enhancedtextwidget-2{ //center license/contractor section
		display: block;
		position: relative;
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.form{
		width: 92%;
		padding: 15px 4%;
	}
	.form-name, .form-number, .form-email, .form-zip{
		width: 100%;
	}
	#feature-boxes .grid_3{
		width: 48%;
		margin: 0 1% 2% 1%;
	}
}



/* Breakpoint description - below 480 (landscape)
-------------------------------------------------------------- */
@media screen and (max-width: $phone-landscape) { 
	#main.clearfix.forpage {
		margin-top: -120px;
	}
	#final-call {
		h5, h5 b{
			font-size: 20px;
		}
	}
}

/* Breakpoint description - below 320 (portrait)
-------------------------------------------------------------- */
@media screen and (max-width: $phone-portrait) { 

}

