.form-wrap {
	background-color: $brand-main;
}

.flexslider .slides img {
	height: 534px;
}

#top-wrapper {
	position: relative;
	height: auto;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	background-color: $brand-main;
	overflow: hidden;
}
.form {
	width: 98%;
	margin: 0 auto;
	padding: 15px 4%;
	overflow: hidden;
	background-color: $brand-main;
	
	h4 {
		color: white;
		font-size: 1.2em;
		line-height: 1;
		padding: 0 0 10px 0;
	
	}
	
	p {
		color: white;
		font-size: 18px;
		line-height: 22px!important;
		
	}
	
	input {
		border: 1px solid white;
		border-radius: 0;
		background-color: white;
		padding: 2%;
	}
}

.textwidget.widget-text .form{ //footer form (different width in footer than on homepage
	width: 92%;
}

.screen-reader-response {
	display: none;
}

.form-name, .form-email {
	width: 48%;
	float: left;
	line-height: 1;
	
	input {
		width: 96%;
		margin-bottom: 10px;
	}
}

.form-number, .form-zip {
	width: 48%;
	float: right;
	line-height: 1;
	
	input {
		width: 96%;
		height: 20px;
		margin-bottom: 10px;
	}
}

.form-mail {
	width: 100%;
	clear: both;
	line-height: 1;
	
	input {
		width: 98%;
		padding: 1%;
		margin-bottom: 10px;		
	}
	
}

.form-pref {
	line-height: 1;
	color: white;
	
	input {
		border: 1px solid black;
		border-radius: 50%;
		background-color: black;
	}
	
	p {
		display: inline-block;
		font-size: 15px;
		text-align: left;
		margin-bottom: 5px;
	}
	
	.wpcf7-list-item {
		font-family: FontAwesome;
		font-style: normal;
		padding-left: 5px;
	}

}
.form-other {
    width: 48%;
    float: right;
    line-height: 1;
    display: none;
    input{
	    width: 96%;
	    margin-bottom: 10px;
    }
}

.form-select {
	line-height: 1;
	width: 100%;
	text-align: left;
	
	span {
		width: 100%;
	}

	select {
		float: left;
		width: 100%;
		margin-bottom: 10px;
		border: 1px solid #DDDDDD;
		background-color: white;
		color: #666666;
		padding: 0; // set to 0 from Firefox/IE issue
	}
}

.wpcf7-form-control-wrap {
	display: inline;
}

.form-subject {
	
}

.form-referral {
	
}

.form-comment {
	line-height: 1;
	
	textarea {
		margin-bottom: 10px;
		resize: none;
		
	}
	
	textarea[style] {
		height: 100px !important;
		width: 97% !important;
	}
}

.form-submit {
	line-height: 1;
				
	input {
		text-align: left;
		align-items: stretch;
		margin: 0;
		background-color: lighten($brand-main,5%);
		border: none;
		border-radius: 20px;
		font-size: 20px;
		padding: 8px 15px;
	}
	
	img.ajax-loader {
		display: none;
	}	
}

div.wpcf7-response-output {
	line-height: 1;
	padding: 4%;

	&.wpcf7-validation-errors {
		color: red;
	}
	
	&.wpcf7-mail-sent-ok {
		color: green;
	}
	&.wpcf7-display-none{
		display: none;
	}
	
}


span.wpcf7-not-valid-tip {
	color: red;
	position: absolute;
	top: -12px;
	font-size: 12px;
	line-height: 1;
	position: relative;
	text-align: left;
}


// realtor call to action block //


.grid_8 {
	margin: 0;	
	
}

#realtor {
	width: 100%;
	background-color: $brand-accent;
	padding: 15px 4%;
	overflow: hidden;
	
	h4 {
		color: $white;
		font-size: 18px;
	}
	
	a {
		color: white;
		width: intrinsic;
		padding: 6px 10px; 
		background-color: $brand-main;
		
		&:hover {
			text-decoration: none;
			box-shadow: 0 0 2px rgba(0,0,0,0.6);
		}
	}
}



// validation errors fix from SharpSpring script bug
form.wpcf7-form.invalid {
    display: block;
    margin: -19px 0 -13px;
}
div.wpcf7-response-output {
    line-height: 1;
    display: inline-block;
}
div.wpcf7-response-output.wpcf7-validation-errors {
    color: #ff0;
    position: relative;
    margin-top: 14px;
}
#top-wrapper .wpcf7-response-output.wpcf7-validation-errors { // sharpspring breaks ajax errors, heres a fix
    display: block;
    position: relative;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: -10px;
    width: 102%;
    font-size: 12px;
    color: yellow;
}
input[type=submit] .wpcf7-response-output.wpcf7-validation-errors {
    margin-bottom: 12px;
}
div.wpcf7-response-output.wpcf7-mail-sent-ok {
    color: green;
    line-height: 17px;
    position: absolute;
    background-color: $brand-main;
    margin-top: -43px;
    font-size: 17px;
}
div.wpcf7-response-output.wpcf7-display-none {
    display: none;
}
span.wpcf7-not-valid-tip {
    color: #ff0;
    top: -8px;
    font-size: 12px;
    line-height: 1;
    display: block;
    position: relative;
    text-align: left;
}