/* =Global.scss - import & define global project variables, mixins, etc.
-------------------------------------------------------------- */

// brand specific colors
$brand-main: #00376f; //dark blue from logo
$brand-accent: #9fa1a3; //dark grey from logo

// typical colors
$white: #fff;
$dark: #444;
$border: #EAEAEA;

// sizes
$rounded: 4px;
$top-nav: 10px;

// shadows
$shadow-three: -3px 3px rgba(0, 0, 0, 0.1);
$shadow-five: -5px 5px rgba(0, 0, 0, 0.1);

// fonts
@import url("http://fonts.googleapis.com/css?family=Lato:100normal,300normal,400normal,700normal");
$base: 16px 'Lato', sans-serif, Arial;
$code: 14px 'Courier 10 Pitch',Courier,monospace;