/* =HEADER 
----------------------------------------------- */
#masthead {
}
#header-meta {
	background-color: #F8F8F8;
	border-bottom: 1px solid $border;
}
#header-text-nav-container {
	border-bottom: 1px solid $border;
}
#header-text-nav-wrap {
	padding-top: 15px;
	padding-bottom: 15px;
}
#header-left-section {
	float: left;
	margin-right: 25px;
}
#header-logo-image {
	float: left;
	padding: 0 20px 0 0;
	max-width: 100%;
}
#header-logo-image img {
	margin-bottom: 0px;
}
#header-text {
	float: left;
	padding: 10px 20px 0 0;
}
#site-title a {
	color: #444444;
	font-size: 36px;	
}
h1#site-title {
	padding-bottom: 5px;
}
#site-title a:hover {
	color: $brand-main;
}
#site-description {
	line-height: 24px;
	font-size: 16px;
	padding-bottom: 0;
	color: #666666;
}
#header-right-section {
	float: right;
}
#header-right-sidebar {
	overflow: hidden;
}
#header-right-section .widget {
	text-align: right;
	padding-top: 10px;
}
#header-right-section .widget h3 {
	padding-bottom: 5px;
}

.header-image {
	margin-bottom: 0;
	border-bottom: 1px solid $border;
	width: 100%;
}
li#phone-number{
	font-size: 26px;
	padding-top: 5px;
}

/* =SEARCH WIDGET 
----------------------------------------------- */
#search-submit {
	display: none;
}
#masthead input.s {
	width: 150px;
}
#search-form span {
	background-color: $brand-main;
	height: 32px;
	width: 30px;
	line-height: 40px;
	margin-left: -2px;
	color: #FFFFFF;
	position: absolute;
	text-align: center;
}
#masthead .search-wrap {
	position: relative;
}
.search-icon:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 18px/1 'Genericons';
	content: '\f400';
}
#masthead .search-wrap span {
	right: 1px;
}

/* =NAVIGATION 
----------------------------------------------- */
nav li > ul,
nav li > ol {
	margin: 0;
	list-style: none;
}
.main-navigation {
	float: right;
	padding-top: 5px;
}
.main-navigation li {
	float: left;
	position: relative;
	padding: 0 0 0 25px;
	font: $base;
}
.main-navigation ul li a {
	font-size: 14px;
}
.main-navigation li.default-menu, 
li.default-menu {
	display: none;
}
.main-navigation a {
	color: $brand-accent;
	text-transform: uppercase;
	display: block;
	float: left;
	line-height: 26px;
	height: 26px;
	padding: 0px 0px;
}
 
.main-navigation ul li.current-menu-item a, 
.main-navigation ul li.current_page_ancestor a, 
.main-navigation ul li.current-menu-ancestor a, 
.main-navigation ul li.current_page_item a {
	color: $white;
	background: url('../img/nav-rect.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center right;
	line-height: 26px;
	height: 26px;
	padding: 0px 15px;
}

/* =DROP DOWN 
----------------------------------------------- */
.main-navigation ul li ul, 
.main-navigation ul li:hover ul ul, 
.main-navigation ul ul li:hover ul ul, 
.main-navigation ul ul ul li:hover ul ul, 
.main-navigation ul ul ul ul li:hover ul ul {
	display:none;
	z-index: 9999;
}
.main-navigation ul li:hover ul, 
.main-navigation ul ul li:hover ul, 
.main-navigation ul ul ul li:hover ul, 
.main-navigation ul ul ul ul li:hover ul,
.main-navigation ul ul ul ul ul li:hover ul {
	display:block;
}
.main-navigation ul li ul {
	position: absolute;	
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
	border-top: 1px solid $brand-main;
	top: 45px;
	left: 25px;
	width: 150px;
}
.main-navigation ul li ul li {
	float: none;
	border-bottom: 1px solid $border;
	padding: 0;
}
.main-navigation ul li ul li a, 
.main-navigation ul li.current-menu-item ul li a, 
.main-navigation ul li ul li.current-menu-item a,
.main-navigation ul li.current_page_ancestor ul li a, 
.main-navigation ul li.current-menu-ancestor ul li a,
.main-navigation ul li.current_page_item ul li a {
	float: none;
	line-height: 21px;
	font-size: 13px;
	font-weight: normal;
	height: 100%;
	padding: 6px 10px;
	color: #666666;
}
.main-navigation ul li ul li a:hover, .main-navigation ul li ul li:hover > a, .main-navigation ul li.current-menu-item ul li a:hover {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
	color: $brand-main;
}
.main-navigation ul li ul li ul {
	left: 150px;
	top: -1px;
}
.main-navigation select { 
	display: none;
}

/* =SMALL MENU 
----------------------------------------------- */
.menu-toggle {
	display: none;
	cursor: pointer;
}
.site-header .menu-toggle {
	background: lighten($brand-main,5%);
	color: $white;
	font-size: 20px;
	font-weight: 300;
	padding: 5px 22px;
	margin: 0;
}
.site-header .menu-toggle:hover {
  background: $brand-accent;
}
.site-header .menu-toggle:before {
  content: '\2261';
  margin-right: 10px;
}
.main-small-navigation {
	float: none;
	padding-top: 0;
	background-color: #000000;
	margin-top: 5px;
}
.main-small-navigation ul {
  margin: 0;
  list-style: none;
}
.main-small-navigation a {
  display: block;
  color: $white;
  padding: 10px 40px;
  text-decoration: none;
}
.main-small-navigation li {
  background: $brand-main;
}
.main-small-navigation li:hover {
  background: $brand-accent;
}
.main-small-navigation ul ul a {
  padding-left: 60px;
}
.main-small-navigation ul ul ul a {
  padding-left: 80px;
}
.main-small-navigation ul > .current_page_item,
.main-small-navigation ul > .current-menu-item {
  background: $brand-accent;
}

/* =SECONDARY MENUS 
----------------------------------------------- */
.small-menu {
	float: right;
}
.small-menu li {
	float: left;
	position: relative;
	font: $base;
}
.small-menu li.default-menu, 
li.default-menu {
	display: none;
}
.small-menu a {
	color: #666666;
	display: block;
	float: left;
	font-size: 10px;
	height: 21px;	
	padding: 5px 0 0 16px;
	font-size: 12px;
}
.small-menu a:hover, 
.small-menu ul li.current-menu-item a, 
.small-menu ul li.current_page_ancestor a, 
.small-menu ul li.current-menu-ancestor a, 
.small-menu ul li.current_page_item a,
.small-menu ul li:hover > a {
	color: $brand-main;
}
