/* Interior Page styles */



/* =QUICK LINKS
----------------------------------------------- */
ul.quicklinks{
	li, li a{
		color: lighten($brand-main,5%);
	}
}

/* =ITERIOR SIDEBAR NAV
----------------------------------------------- */
ul.sidebar-menu{
	p{
		margin: -9px 0px;
	}
	li, li a{
		color: $white;
		text-transform: uppercase;
	}
}




/* =PAGE HEADER TITLE 
----------------------------------------------- */
.header-post-title-container {
	height: 200px;
	background-repeat:no-repeat;
	/*background-size:contain;*/ //once below 1st brk pt, switch to contain
	background-position:center;
}
.header-post-title-container .post-title-wrapper {
	float: left;
	max-width: 100%;
}
.header-post-title-class {
	font-size: 22px;
	padding-bottom: 0;
}




/* =Conditional Page Header for Interior Pages
----------------------------------------------- */
.page-id-6, .page-id-70{ //About & child pages
	.header-post-title-container {
		background: url('../img/about-header.jpg');
		background-position: center;
		@extend .header-post-title-container;
	}
}
.page-id-8{ //Roofing Services page
	.header-post-title-container {
		background: url('../img/roofing-services-header.jpg');
		background-position: center;
		@extend .header-post-title-container;
	}
}

.page-id-10, .page-id-58, .page-id-60, .page-id-62, .page-id-64{ //What to Expect & child pages
	.header-post-title-container {
		background: url('../img/what-to-expect-header.jpg');
		background-position: center;
		@extend .header-post-title-container;
	}
}

.page-id-12{ //Realtors page
	.header-post-title-container {
		background: url('../img/realtors-header.jpg');
		background-position: center;
		@extend .header-post-title-container;
	}
}

.page-id-14, .single, .single-post{ //Resources page & individual (single.php) blog aricles 
	.header-post-title-container {
		background: url('../img/resources-header.jpg');
		background-position: center;
		@extend .header-post-title-container;
	}
}

.page-id-56{ //Estimate page
	.header-post-title-container {
		background: url('../img/estimate-header.jpg');
		background-position: center;
		@extend .header-post-title-container;
	}
}




/* =ABOUT PAGE 
----------------------------------------------- */
.team{
	h5{
		color: $dark;
		text-transform: uppercase;
		padding-bottom: 5px;
		line-height: 15px;
	}
	span{
		color: lighten($brand-main,5%);
		text-transform: uppercase;
	}
	p{
		text-align: left;
	}
	.tg-one-half{
		padding: 0px;
	}
}

/* =TESTIMONIALS SIDEBAR WIDGET
----------------------------------------------- */
#enhancedtextwidget-6, #secondary aside{
	color: $white;
	background: $brand-main;
	h6{
		background: lighten($brand-main,5%);
		padding: 12px 10px;
	}
	p{
		padding: 0px 10px;
		margin-top: 15px;
		&:last-child{
			padding-bottom: 25px;
		}
	}

}


/* =SIDEBAR WIDGETS
----------------------------------------------- */
#secondary .widget ul li, #colophon .widget ul li {
	line-height: 1.5;
	border-bottom: 1px solid $border;
	padding: 12px 10px;
	background: lighten($brand-main,5%);
	color: $white;
	&:hover{
		background: $brand-main;
		color: darken($white,5%);
		cursor: pointer;
	}
}
#colophon .widget ul li {
	border-bottom: 1px solid #444444;
}
#secondary .widget ul li li, #colophon .widget ul li li {
	border-bottom: none;
}
#secondary .widget ul ul, #colophon .widget ul ul {
	padding-left: 10px;
}
.widget select {
	border: 1px solid #DDDDDD;
	color: #666666;
	padding: 2px;
	width: 60%;
}
#secondary h3.widget-title {
	font-size: 22px;
	line-height: 32px;
	padding-bottom: 15px;
}
#secondary .widget, .error-404 .widget {
	margin-bottom: 35px;
	font-size: 16px;
}
#secondary a:hover {
	text-decoration: underline;
}
.error-404 {
	padding-bottom: 20px;
	text-align: center;
}
.error-404 input.s {
	width: 50%;
}


//Content Styling//

.entry-content {
	
	h1 {
		color: lighten($brand-main,5%);
	}	
	
	ol {
		list-style-type: decimal;
		margin-bottom: 15px;
	}
	
	ul {
		margin-bottom: 15px;
	}
	
	.form-wrap {
		width: 100%;
	}
	
	.form {
		max-width: 400px;
		min-width: 200px;
		margin: 0 auto;
	}
}






